---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Card from '../components/Card.astro';
import { register } from '../utils/register.ts';
import { db, desc, Users } from 'astro:db';

let noti: string = null;

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  noti = await register(formData);
}
const users = await db.select().from(Users).limit(4).orderBy(desc(Users.registered));
---

<Layout title='ลงทะเบียน'>
  <main>
    <Form noti={noti} />
    <h2 class='font-bold mb-4 text-xl'>รายชื่อล่าสุด</h2>
    <div class='grid md:grid-cols-2 gap-4 mb-5'>
      {users.map((u) => <Card name={u.name} phone={u.phone} gender={u.gender} registered={u.registered} />)}
    </div>
    <a href='/list' class='font-medium'>ดูรายชื่อทั้งหมด ›</a>
  </main>
</Layout>
