---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';

import { db, desc, count, Users } from 'astro:db';

const total = await db.select({ count: count() }).from(Users);
const users = await db.select().from(Users).limit(100).orderBy(desc(Users.registered));
---

<Layout title='ลงทะเบียน'>
  <main>
    <div class='flex justify-between items-end mb-3'>
      <h1 class='font-bold text-2xl'>รายชื่อ</h1>
      <a href='/' class='font-medium'>ลงทะเบียน ›</a>
    </div>
    <p class='text-sm text-slate-600 mb-4'>
      ลงทะเบียนทั้งหมด
      <strong>{total[0].count}</strong>
      ราย แสดง 100 รายล่าสุดดังนี้
    </p>
    <div class='bg-white shadow rounded-md overflow-hidden'>
      <table class='w-full'>
        <thead>
          <tr class='bg-slate-200 *:px-3 *:py-2 *:text-left'>
            <th>เพศ</th>
            <th>ชื่อ</th>
            <th>เบอร์โทร</th>
            <th>วันที่ลงทะเบียน</th>
          </tr>
        </thead>
        <tbody>
          {users.map((u) => <Table name={u.name} phone={u.phone} gender={u.gender} registered={u.registered} />)}
        </tbody>
      </table>
    </div>
  </main>
</Layout>
